    :root {
        --font-base: 'Inter', sans-serif;
        --font-size-base: 16px;
        --line-height-base: 1.6;  
      --color-bg: #ffffff;
      --color-bg-black: #17171a;
      --color-surface: #eeeeee;
      --color-text: #17171a;
      --color-text-white: #ffffff;
      --color-text-muted: #606060;
      --color-accent: #1605ad;
      --color-accent-old: #e11d3a;
      --color-accent-hover: #ce1934;
      --color-border: #f0f0f0;
      --color-nav-text: #ffffff;
      --color-nav-hover: #cccccc;
      --color-gradient-one: #5907bd;
      --color-gradient-two: #e11d3a;

    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: rgba(25, 25, 213, 0.5) 1px solid; */
}

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  width: 100%;
}

img, input, textarea {
  max-width: 100%;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));
  margin: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  box-shadow:(0 2px 4px rgba(0, 0, 0, 0.1));
  transition: all 100ms ease-in-out;
}

.logo {
  max-width: 250px;
  height: auto;
  object-fit: contain;
  background-color: var(--color-accent);
}

header.scrolled {
  display: flex;
  transition: all 200ms ease-in-out;
  background-color: #17171a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding: 4px 1rem;
  height: auto;
}

header.scrolled .logo {
  background-color: var(--color-bg-black);
  transition: all 100ms ease-in-out;
  max-width: 200px;
}

header.scrolled a {
  transition: all 100ms ease;
}

header.scrolled .nav-contact {
  color: var(--color-text);
  background: var(--color-nav-text);
  padding: 1rem 2rem;
}

header.scrolled nav a.active-link {
  border-bottom: solid 2px #ffffff;
  transition: transform 100ms ease;
}

header h1 {
  margin-left: 1rem;
  color: var(--color-nav-text);
}

h1 a {
  text-decoration: none;
  color:var(--color-accent)
}

.text-white {
  color: var(--color-text-white);
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column; 
}

h1 {
  font-size: 2rem;
  color: var(--color-text);
  width: 100%;
}

h2 {
  font-size: 2rem;
  line-height: 2em;
  color: var(--color-text);
  width: 100%;
}

h3 {
  font-size: 1.5rem;
}

.text-span {
  width: 100%;
  margin-bottom: 16px;
}

p {
  color: var(--color-text-muted);
  width: 100%;
  font-size: var(--font-size-base)
}

#navbar {
  z-index: 2;
}

nav {
  background-color: none;
  display: flex;
  padding: 0 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: right;
  justify-content: center;
  gap: 1em;
  
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  display: flex;
  text-decoration: none;
  color: #dddddd;
  padding: 1em;
  font-weight: bolder;
  transition: transform 100ms ease;
}

nav a:hover span {
  transform:scale(1.2);
  color: white;
}

nav a span {
  transition: transform 100ms ease;
}

nav a.active-link {
  border-bottom: solid 2px var(--color-nav-text);
  transition: transform 100ms ease;
}

nav a.nav-contact {
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--color-nav-text);
  border-radius: 2rem;
  padding: 1rem 2rem;
}

nav a.nav-contact:hover {
  background: linear-gradient(45deg, var(--color-gradient-one), var(--color-gradient-two));
  color: var(--color-nav-text)
}

nav a.nav-title {
  margin-right: auto;
  font-weight: bolder;
  font-size: 1.25em;
}

.open-sidebar-button {
  display: none;
}

.close-sidebar-button {
  display: none;
  margin-left: auto;
}
  
.bullet-point {
  font-style: italic;
  color: var(--color-text-muted);
  display: flex;
  flex-direction: column;
  list-style-type:none;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0rem 0rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  transition: transform 100ms ease-in-out;
  border-radius: 50%;
  background-color: var(--color-bg-black);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.0);
  background: linear-gradient(45deg, var(--color-gradient-one), var(--color-gradient-two));
}

a.icon {
  text-decoration: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  align-items: center;
}

.contact-form input, textarea {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  border-radius: 2px;
  text-align: left;
}

.contact-form input, textarea {
  color: var(--color-text);
  background-color: var(--color-bg); 
  padding: 8px;
  outline: rgba(0, 0, 0, 0.1);
}

.contact-form input {
  height: 2rem;
  width: 30%;
}

.contact-form textarea {
  width: 80%;
  height: 10rem;
  resize: none;
  text-align: left;
}


button {
  background-color: var(--color-bg-black);
  color: var(--color-text-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
  padding: 1rem;  
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.2rem;
}

section {
  background-color: var(--color-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding: 0rem 1rem;
  align-items: center;
}

#hero {
  display: flex;
  position: relative;
  top:0;
  left: 0;
  height: 100vh; 
  width: 100%;
  align-items: normal;
  background: linear-gradient(45deg, var(--color-gradient-one), var(--color-gradient-two));
  color: white;
  padding: 1rem;
  text-align: left;
  transition: all 0.3s ease;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hero-column {
  display: flex;
  flex-direction: column;
}

.hero-content {
  display: flex;
  flex: 1;
  max-width: 1200px;
  align-items: flex-start;
  padding: 0 1rem;
}

.hero-h1, .hero-h2, .hero-body {
  text-align: left;
}

.hero-h1, .hero-h2, .hero-body, .hero-button {
    opacity: 0;
}

.hero-h1 {
  font-size: 4em;
  animation: fadeIn 1s ease forwards;
}

.hero-h2 {
  font-size: 3em;
  animation: fadeIn 3s ease forwards;
  animation-delay: 1s;
}

.hero-body {
  font-size: 1.2em;
  max-width: 40%;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.5s;
}

.hero-button {
  margin-top: 2rem;  
  position: relative;
  color: var(--color-nav-text);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}

.hero-button:hover {
  background-color: var(--color-bg-black);
}

button:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.section-header {
  justify-content: center;
  text-align: center;
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 0rem 2rem;
  background-color: rgba(0, 0, 0, 0.0);

  opacity: 0;
  transition: all 0.8s ease-out;
}

.section-header.show {
  opacity: 1;
}


.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 8px 2rem;
  background-color: none;

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.container.show {
  transform: translateY(-20px);
  opacity: 1;
}


.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  flex-direction: column;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 100%;
  background-color: #f9f9f9;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.sub-container.show {
  transform: translateY(-20px);
  opacity: 1;
}

.container.accordian-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;  
  padding: 1rem 0rem;
}

.accordian {
  width: 100%;
}

.accordian-header {
  border-radius: 8px 8px 2px 2px;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-weight: 200;
  box-sizing: border-box;
  color: var(--color-text);
  background-color: #f9f9f9;
  z-index: 5;
}

.accordian-header:hover {
  transform: scale(1);
}

.accordian-header:after {
  content: "+";
  float: right;
  transition: transform 0.3s ease;
}

.accordian-header.active:after {
  content: " -";
}

.accordian-content {
  max-height: 0;
  text-align: left;
  padding: 0 1rem;
  z-index: 1;
  overflow: hidden;
  transition: max-height 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.accordian-content p {
  padding: 1rem 0;
  font-style: italic;
  color: var(--color-text-muted);
}

.no-border {
  border: none;
  box-shadow: none;
}

.price-container {
  min-height: 640px;
}

.price-container > .price {
  margin-top: auto;
}

.price-container > h2 {
  /* margin-top: auto; */
}

.profile-image-container {
  box-shadow: none;
  border-radius: 0;
}

.content {
 /* margin-bottom: auto; */
}

.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg);
  padding: 1rem;
  margin: 1rem 1rem;
  width: 100%;
  min-height: 50dvh;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-bg);
  padding: 1rem;
  margin: 1rem 1rem;
  width: 50%;
  min-height: 50dvh;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  gap: 2rem;
  background-color: #f9f9f9;
  color: var(--color-text);
  height: 120px;
  margin-top: 2rem;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}

.row h1 {
  text-align: center;
}

.footer-logo {
  width: 200px;
  height: auto;
}

.nav-icon {
  height: 1.5em;
  width: 1.5em;
  transition: transform 100ms ease;
}

.nav-icon:hover {
  transform: scale(1.2);
}

.poster-image {
  width: 100%;
  height: auto;
}

.column {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0rem;
}

.row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4rem 0rem;
  background-color: var(--color-bg);
}

.line {
  width: 20vw;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 1em 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile-image {
  z-index: -1;
  max-width:20%;
  right: 0;
  padding: 0rem 2rem;
  height: auto;
  object-fit: cover;
  position: relative;
  opacity: 0.4;
}

.project-image {
  width: 100%;
  height: auto;
}

footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

footer .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

@media screen and (min-width: 1200px) {


}

@media screen and (max-width: 768px) {

  p {
    font-size: 0.9  rem;
  }

  header {
    top: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;  
    justify-content: center;
    z-index: 1; 
    padding: 4px 0rem;
    height: 60px;
  }
  
  header.scrolled {
    
    height: 60px;
    padding: 4px 0rem;

  }

  header.scrolled .open-sidebar-button {
    display: block;
    background: none;
    padding: 0rem 1rem;
    margin-left: auto;
    margin-top: 0;
    border: none;
  }

  header.scrolled nav a {
    color:var(--color-bg-black);
  }

  nav a.nav-contact {
    background-color: var(--color-text);
  }

  header.scrolled nav a.nav-contact {
    color: white;
    background-color: var(--color-text);
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 40px;
    background-color: var(--color-accent);
  } 

  .mobile-navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(70%, 100%);
    z-index: 1001;
    border-left: 2px solid #eeeeee;
    transition: right 300ms ease-out;
    background: linear-gradient(90deg, #eeeeee, #ffffff);
    justify-content: flex-end;
  }

  .row {
    padding: 2rem 0rem;
    flex-direction: column;
  }

  .wrapper {
    padding: 0rem;
  }

  #hero {
    display: flex;
    margin:0;
    height: 100dvh;
    width: 100%;
  }

  .hero-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;  
  }

  .section-header {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
  }
  
  .hero-h1 {
    font-size: 2.5em;
  }

  .hero-h2 {
    font-size: 2em;
  }

  .hero-body {
    font-size: 1em;
    max-width: 100%;
  }
  
  .container {
    margin: 0;
    flex-direction: column;
    padding: 0rem 1rem;
    justify-content: center;
    gap: 0;
    width: 100%;
  }

  .about-container {
    margin-top: 2rem;
    gap: 2rem;
  }

  .image-container {
    position: static;
    width: 100%;
    justify-content: center;
  }

  .sub-container {
    width: 100%;
    justify-content: center;
    padding: 8px;
    margin: 1rem 0rem;
  }

  .price-container {
    min-height: auto;
  }

  .accordian {
    padding: 0rem 1rem;
  }

  .icon {
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  }

  section {
    padding: 0;
    margin: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .body-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 1s ease-in-out;
  }

  .body-overlay.active {
    display: block;
    transition: opacity 1s ease;
  }

  nav .index-li {
    margin-right: 0;
  }
  
  .open-sidebar-button {
    display: block;
    background: none;
    padding: 0rem 1rem;
    margin-left: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;

  }

  nav.show {
    right: 0;
    padding: 0rem 1rem;
  }

  .close-sidebar-button {
    display: flex;
    margin-left: auto;
    margin-right: -2rem;
    margin-top: 0;
    align-items: flex-end;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
  }

  nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
  }

  nav li {
    margin-right: 0;
  }

  nav a {
    color: var(--color-text);
    width: 100%;
  }

  nav a.active-link {
  border-bottom: none;
  border-left: solid 2px var(--color-bg-black);
  }

  .contact-form input {
  height: 2rem;
  width: 80%;
  }

  .contact-form textarea {
    width: 100%;
    height: 10rem;
    resize: none;
  }

  .line {
    width: 70vw;
  }
}

/* HERO PAGE STYLES */
.hero-h1, .hero-h2, .hero-body {
  color: white;
  transition: all 0.5s ease;

}

.hero-content {
  width: 100%;
  min-width: auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hero-column {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}