body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  background: #5d7aff;
}

br {
  height: 200px;
}

p {
  color: wheat;
}

h1 {
  color: wheat;
  text-align: left;
}

h2 {
  color: wheat;
  text-align: left;
}

h2.cvheading {
  text-align: center;
  justify-content: center;
}

li {
  color: wheat;
}

header li {
  list-style-type: disc;
  display: inline;
  float: left;
}

header li a {
  display: block;
  color: #5d7aff;
  text-align: center;
  text-decoration: none;
  padding: 14px 24px;
}

header li a:hover {
  color: #5d7aff;
  background-color: #111; 
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: wheat;
  border-radius: 10px 25px 10px 25px;
}

.header {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.banner {
width: auto;
height: 50px;
color: white;
font-size: 20px;
}

.leftcolumn {
  flex: 25%;
  background: rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 12px;
  margin: 16px;
}

.rightcolumn {
  flex: 75%;
  background: rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 12px;
  margin: 16px;
}

.artistsrow:after {
  content: "";
  display: table;
  clear: both;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 0px;
  height: 250px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.contact {
  background-color: #495fc4;
}

.profileimage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  padding:  50px;
  justify-content: center;
}

.posterimage {
  width: 300px;
  height: 300px;
  object-fit: contain;
  padding: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cv-container {
  display: flex;
}

.column_profile {
  flex: 25%;
  justify-content: center;
}

.column_body {
  flex: 75%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
  }

  .artistscolumn {
      width: 100%;
      padding: 0;
  }
}